@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.accordion {
	width: 450px;
	height: 60px;
	margin: 0 auto;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(225, 225, 225, 1);
	overflow: hidden;
	transition: height 0.3s ease;
	margin-bottom: 20px;
}

.accordion .accordion_tab {
	padding: 20px;
	cursor: pointer;
	user-select: none;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
}

.accordion .accordion_tab .accordion_arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	width: 15px;
	height: 15px;
	transition: all 0.3s ease;
}

.accordion .accordion_tab .accordion_arrow img {
	width: 100%;
	height: 100%;
}

.accordion .accordion_tab.active .accordion_arrow {
	transform: translateY(-50%) rotate(180deg);
}

.accordion.active {
	height: 320px;
}

.accordion .accordion_content {
	padding: 20px;
	border-top: 1px solid #e9e9e9;
}

.accordion .accordion_content .accordion_item {
	margin-bottom: 20px;
}

.accordion .accordion_content .accordion_item p.item_title {
	font-weight: 600;
	margin-bottom: 10px;
	font-size: 18px;
	color: #191919;
}

.accordion .accordion_content .accordion_item p:last-child {
	color: #222222;
	font-size: 14px;
	line-height: 20px;
}
